.Tab {
    background-color: #FDECCA;
    border: 0;
    padding: 3px 20px;
    cursor: pointer;
}

.notActive {
    border: 0;
    padding: 3px 20px;
    cursor: pointer;
    background-color: rgb(154, 151, 151);
}