.form {
    max-width: 960px;
    box-sizing: border-box;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    column-gap: 3rem;
    align-items: center;
}

.formItem:first-child {
    width: 50%;
}

.formItem:last-child {
    width: 25%;
}